* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: popins sans-serif;
}

body {
  background: black;
}
body {
  position: flex;
  align-items: center;
}

.header {
  position: fixed;
  margin-bottom: 4%;
  margin-top: 8%;
  margin-left: 8%;
  margin-right: 0%;
  display: flex;
  background: chocolate;
  align-items: center;
  font-weight: 100;
  height: 400;
  justify-content: space-between;
}

.logo {
  position: absolute;
  padding-top: 40;
  margin-left: 50;
  padding-bottom: 20;
  color: blue;
}

.navbar a {
  font: size 25px;
  color: rgba(255, 255, 255, 0.742);
  text-decoration: none;
  font-weight: 500px;
  margin-left: 70px;
}

.home {
  width: 100%;
  height: 100vh;
  display: block;
  align-items: center;
  padding: 20%;
}

.home-content {
  position: fixed;
  padding-left: 0%;
  color: green;
}

.image {
  width: 150%;
  height: 120%;
  margin-bottom: 50%;
  display: block;
}

.image img {
  height: 90%;
  width: 20%;
  display: block;
  margin: auto;
  top: 120%;
}

.home a {
  padding-top: 10px 18px;
  font-weight: bold;
  color: red;
}

.btn {
  position: absolute;
  background-color: green;
}

.input-field {
  margin: 4px;
  color: azure;
  background-color: beige;
  border: solid 3px green;
  border-radius: 4px;
  width: 43%;
  text-align: center;
  align-items: center;
}

.btn1 {
  color: greenyellow;
  padding: 0;
  border: solid 4px blue;
  border-radius: 1px;
  width: 30%;
  text-align: center;
  align-items: center;
  font-size: medium;
}

.image1 {
  border: solid 7px;
  border-radius: 3px;
  width: 25%;
  height: 20%;
}

.btn-content {
  padding-left: 40px;
}

.png {
  width: 300px;
  height: 100px;
  clip-path: circle(45%);
}

h3 {
  color: white;
}
